.nav {
  height: 9vh;
  width: 100vw;
  background: #f5b64e;
  padding: 0 7.5vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo {
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  vertical-align: middle;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  margin: 1rem;
  padding: 5px 15px;
  width: 100%;
  color: #4b4c4c;
  font-family: Avenir, sans-serif;
  box-shadow: 3px 3px 8px;
}

.login-button:hover {
  background-color: rgb(192, 198, 222);
  color: rgba(255, 255, 255);
}
