.toggle-container {
  // border: 2px solid blue;
  display: grid;
  // grid-template-columns: 3fr 2fr;
  // grid-template-rows: 2fr;
  grid-template-columns: 1fr 1fr;
  // justify-items: center;
  // align-content: center;
  min-width: 7.5vw;
  max-width: 8vw;
  // min-width: 17.5vw;
  // border: 1px solid green;
  // padding: 2px;
  // margin-top: 25px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-content: center;
  div {
    margin-bottom: 7.5px;
  }
}

// .toggle-label {
//   flex: 2;
//   // display: inline;
//   // border: 1px solid red;
//   span {
//     // padding: 2px;
//     // display: block;
//   }
// }

// .toggle-switch {
//   flex: 1;
//   // display: inline;
//   // border: 1px solid purple;
// }
